<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 1)引入 jdbc.properties 文件 ，包含数据库链接信息-->
	<!-- <properties resource="jdbc.properties" /> -->

	<!-- 实体类别名 -->
	<!-- <typeAliases>
		<package name="com.csl.entity" />
	</typeAliases> -->

	<!--2) 环境配置 -->
	<!-- <environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />  事务
			<dataSource type="POOLED">  数据源
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments> -->

	<!--3) 映射的配置文件 -->
	<!-- <mappers>
		<mapper resource="com/csl/dao/UsersMapper.xml" />
		<mapper resource="com/csl/dao/DetailMapper.xml"/>
		<mapper resource="com/csl/dao/OrdersMapper.xml"/>
	</mappers> -->
	
	 <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
</configuration>